body{
    background-color: rgb(159, 159, 213);
    
}
h1{
    color: rgb(242, 246, 243);
    text-decoration: double;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: solid 1px  #eee;
    background-color: rgb(12, 232, 67);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease;
    cursor: pointer;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    font-stretch: normal;
    font-size-adjust: none;
    line-height: normal;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: start;
    text-indent: 0px;
    text-transform: none;
    white-space: normal;
    widows: 1;
    z-index: 2147483647;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    -moz-background-clip: border-box;
    -o-background-clip: border-box;
    background-origin: padding-box;
    -webkit-background-origin: padding-box;
    -moz-background-origin: padding-box;
    -o-background-origin: padding-box;
    background-size: auto auto;
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    -o-background-size: auto auto;
    background-position: 0% 0%;
    -webkit-background-position: 0% 0%;
    -moz-background-position: 0% 0%;
}